@charset "utf-8";
.cal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
fieldset{
    width: 718px;
    height: 336px;
    /* 사이즈는 그대로 하되 패딩값만 조절*/
    box-sizing: border-box;
    padding: 4px 51px 30px 51px;

}
fieldset>.ja{
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    background: rgb(243,243,243);
    /* border: 1px solid red; */
    margin: -22px -51px 24px;
    /* padding: 0 0 20px 0; */

   
}
p{
    padding: 8px;
}
.main{
    border: 1px solid #ccc;
    margin-bottom: 37px;
}
li{
    margin-bottom: 5px;
}
label{
    font-size: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
}
input{
    width: 117px;
    height: 26px;
    margin-right: 10px;
    margin-bottom: 15px;
    text-indent: 20px;
}
.box1{
    width: 626px;
    height: 35px;
    box-sizing: border-box;
    margin-left: 124px;
    
}
.box2{
    width: 626px;
    height: 49px;
    margin-left: 124px;
}
hr{
    width: 521px;
}
button{
    width: 71px;
    height: 26px;
    margin-right: 10px;
    margin-left: 10px;
}